#include <windows.h>

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 2,12,0,9
	PRODUCTVERSION 2,12,0,9
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE VFT2_UNKNOWN
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904b0"
			BEGIN
				VALUE "CompanyName", "\0"
				VALUE "FileDescription", "\0"
				VALUE "FileVersion", "2.12.0.9\0"
				VALUE "LegalCopyright", "\0"
				VALUE "OriginalFilename", "qzintd2.dll\0"
				VALUE "ProductName", "qzintd\0"
				VALUE "ProductVersion", "2.12.0.9\0"
				VALUE "InternalName", "\0"
				VALUE "Comments", "\0"
				VALUE "LegalTrademarks", "\0"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0409, 1200
		END
	END
/* End of Version info */

